{% extends "template.html" %} {% block title %} SneakySave - About {% endblock
%} {% block content %}
<div class="guide">
  <h1>The page could not be found.</h1>
  <p>
    The page you are looking for might have been removed, had its name changed,
    or is temporarily unavailable.
  </p>
  <p>
    Our website is still in development, so some pages may not be available yet.
    If you believe this is an error, please contact us on our Discord server.
  </p>
  <a href="/" class="link">Return to the homepage</a>
  <a class="discord-login" href="/discord">
    <img src="/static/resources/images/discord_white.png" alt="Discord Login" />
    <span>Join our Discord!</span>
  </a>
</div>
{% endblock %}
