{% extends "template.html" %} {% block title %} SneakySave - Dashboard {%
endblock %} {% block content %}
<div class="content-div">
  <h1>Dashboard</h1>
  <p>
    This is a temporary dashboard. Later, this will be updated to show your
    stats in detail.
  </p>
  <a href="#" class="button disabled" disabled>Update your save (Coming Soon)</a
  ><br /><br />
  <a href="/profile" class="button">Edit your profile</a><br /><br />
  <a href="/save" class="button">View your save</a><br /><br />
  <a onclick="toggleShareMenu()" class="button">Share your save</a><br /><br />
  <a href="/help" class="button">Help Center</a>
</div>
{% endblock %}
