{% extends "template.html" %} {% block title %} SneakySave {% endblock %} {%
block content %}
<div class="homepage">
  <img
    src="/static/resources/images/sneaky-sasquatch-icons/firefighter.png"
    alt="Sneaky Sasquatch Logo"
    class="homepage-icon"
  />
  <h1 class="homepage-title">SneakySave</h1>
  <h1 class="homepage-text">
    The first Sneaky Sasquatch save
    <span id="save-text-effect" class="save-text-effect"></span>
    <span class="blink">|</span>
  </h1>
  <!-- <a class="button" href="/login">
    <img src="/static/resources/images/arrow-white.png" alt="Trailer" />
    <span>Watch the trailer</span>
  </a> -->
  <h2>More information coming soon!</h2>
  <!-- <p>Join our Discord server for the latest updates!</p> -->
  <a href="/discord" class="discord-login">
    <img
      src="/static/resources/images/discord_white.png"
      alt="Discord Login"
    />
    <span>Join our Discord!</span>
  </a>
</div>
<script src="/static/scripts/homepage.js"></script>
{% endblock %}
