{% extends "template.html" %} {% block title %} SneakySave {% endblock %} {%
block content %}
<link rel="stylesheet" type="text/css" href="/static/styles/load.css" />
<div class="page">
  <div class="loading" id="loading">
    <div class="loading-animation">
      <div class="circle"></div>
    </div>
    <div class="loading-text">
      <p id="load-text">Let's let you onboarded...</p>
      <a class="button" id="gobtn" onclick="finished_load();">Let's Go!</a>
    </div>
  </div>
  <div id="content-div" class="content-div">
    <h1>Let's get you onboarded!</h1>
    <div class="onboarding-form">
      <form onsubmit="return false;">
        <div id="step-1" class="step">
          <p>Choose a unique username for your profile. You <b>cannot</b> change this later. It does not have to be your Discord username.</p>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" value="{{user_info.username}}" /><br>
          <span id="username-error" class="error-message"></span>
          <p id="done-text-username" class="hidden">
            Your username has been set in stone. This is a reminder that you <b>cannot</b> change this later.
          </p>
        </div>
        <div id="step-2" class="step upcoming">
          <p>Let's get your save file uploaded. You will be able to analyze it and share it with others.</p>
          <label for="save-file">
            <a class="button small">Upload Save File</a><br>
            <span id="save-file-name">No file chosen</span>
          </label>
          <input type="file" id="save-file" class="save-upload" name="save-file" /><br>
          <span id="save-file-error" class="error-message"></span>
          <p id="done-text-save" class="hidden">
            Your save file has been uploaded. It will be processed and analyzed. You will be able to view it on your profile when you are done.
          </p>
        </div>
        <div id="step-3" class="step upcoming">
          <input type="checkbox" name="agree-terms" id="agree-terms"><label for="agree-terms">I agree to the <a href="/help/terms">Terms & Conditions</a>.</label><br>
          <input type="checkbox" name="agree-privacy" id="agree-privacy"><label for="agree-privacy">I agree to the <a href="/help/privacy">Privacy Policy</a>.</label><br>
          <input type="checkbox" name="agree-early" id="agree-early"> <label for="agree-early">I agree to the <a href="/help/early-access">Early Access Terms</a>.</label><br>
          <input type="checkbox" name="public-profile" id="public-profile" checked><label for="public-profile">Make my profile discoverable on the explore page! (note that even if this option is disabled, your profile is still public, just not displayed on the explore page).</label><br>
          <span id="agree-error" class="error-message"></span>
        </div>
        </div>
        <a id="username-submit-btn" class="button" onclick="nextStep();">Continue</a>
        <a class="button" style="opacity: 0;" id="submit-btn" onclick="submitForm();">Let's Go!</a>
      </form>
    </div>
  </div>
  <script src="/static/scripts/load.js"></script>
  <script src="/static/scripts/onboarding.js"></script>
</div>
{% endblock %}
