* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.coversheet-holder {
  white-space: nowrap;
}

.coversheet-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.coversheet-button {
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.coversheet {
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  background-size: cover;
}

.cover-blue {
  background: rgb(0, 140, 255);
  background: linear-gradient(
    45deg,
    rgba(0, 140, 255, 1) 0%,
    rgba(0, 187, 255, 1) 100%
  );
}

.cover-green {
  background: rgb(0, 214, 12);
  background: linear-gradient(
    45deg,
    rgb(16, 188, 24) 0%,
    rgb(73, 156, 59) 100%
  );
}

.coversheet-title {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0;
}

.coversheet-subtitle {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.coversheet-content {
  font-size: 1.5rem;
}

.coversheet-content p {
  margin: 1rem;
  font-size: 1.5rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: calc(100% - 2rem);
}

.coversheet-content a {
  color: #00f7ff;
  text-decoration: underline;
}

.coversheet-content a:hover {
  color: #79fbff;
}

.coversheet-content a:active {
  color: #ffffff;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
